body{
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}

nav{
    max-width: 100%;
    background: #000;
    color: #fff;
}
form{
    max-width: 1220px;
    margin: auto;
}
p{
    margin: 0px;
}
#nav-1{
    background: #263238;
    color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#nav-1 > div{
    display: flex;
    margin: 0px;
}
.nav-p, #nav-3 >div >p, #nav-4> p{
    padding-top: 6px;
    margin: 0px;
}
#nav-1 > div:nth-child(1){
    margin-left: 9.4%;
}
#nav-1 > div:nth-child(2){
    gap: 10px;
    padding: 2px;
    margin-right: 9.4%;
}
#lang{
    background: #263238;
    border: none;
    color: white;
}
#crown{
    border: none; 
    color: orange; 
    background: transparent;
    color: yellow;
}
.icon{
    border: none;
    width: 200px;
    color: white;
    padding: 3px;
    background: linear-gradient(to left, #F48FB1, #1A237E);
    height: 30px;
}
i{
    background: #fff;
    border: 1px solid #676E7A;
    color: #676E7A;
}
#signup{
    background: transparent;
    color: #fff;
    text-decoration: none;
    padding-top: 7px;
}
#nav-2{
    margin-left: 9.4%;
    padding-top: 20px;
    background: url('https://static.toiimg.com/photo/60510082.cms') no-repeat;
}
#nav-2 > a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}
#nav-2 > p{
    margin: 10px 0px;
}
#nav-3{
    background: #D50000;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
#nav-3 > div{
    display: flex;
    gap: 0.7rem;
    font-size: 12px;
    margin-left: 9.4%;
}
.nav-icon{
    background: #fff;
    /* size: 5px; */
    padding: 7px;
    border-radius: 20px;
}
.nav3-icon{
    background: transparent;
    border: none;
    color: #fff;
    padding-top: 5px;
}
#education{
    color: white;
    background: #666;
    border: none;
    padding: 5px;
    margin: 0px;
    position: relative;
}
#education::after{
    content: "";
    display: block;
    position: absolute;
    border-color: transparent #666;
    border-style: solid;
    border-width: 13px 0px 13px 13px;
    top: 0;
    left: 100%;
}
#nav-4{
    display: flex;
    gap: 0px;
    background: white;
    font-size: 11px;
    padding-top: 10px;
}
#nav-4 > p:nth-child(1){
    color: #888;
    padding: 0px 0px 10px 9.4%; 
}
#nav-4 > p:nth-child(2){
    color: #000;
    padding: 0px;
}
#top-search{
    display: flex;
    gap: 1%;
}
.top-srch-btn{
    border: none;
    border-radius: 25px;
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 10%);
    background: #fff;
}
.top-srch-btn > a{
    padding: 2px 12px;
    color: #000;
    text-decoration: none;
}
.top-srch-btn:hover{
    background: #000;
}
.top-srch-btn > a:hover{
    color: #fff;
}
#main-box{
    display: flex;
    gap: 2%;
}
#container2{
    margin-top: 25px;
}
#suggestion1{
    position: relative;
    border: 2px solid #d1d1d1;
    width: 250px;
    height: 150px;
    padding: 20px;
    margin: 25px 0px 20px;
}
#suggestion1 > h3{
    margin-top: -40px;
    margin-bottom: 0px;
    background: #fff;
    padding: 8px;
    /* font-size: 18px; */
}
#suggestion1 > div{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 12px;
}
#suggestion1 > div > p{
    margin: 0px 5px 5px 0px;
}
.imageDiv{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background: url('https://timesofindia.indiatimes.com/photo/47958754.cms');
    background-size: contain;
    height: 70%;
    width: 100%;
    cursor: pointer;
}
#container{
    display: flex;
    flex-wrap: wrap;
    max-width: 73%;

}
#container > h3{
    position: relative;
    margin-left: 20px;
    padding: 0px 10px;
    background: #fff;
}
.outerbox{
    border-top: 2px solid #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    margin-top: -30px;
    padding-top: 20px;
}
.outerbox > div{
    width: 47%;
}
.imgTxt{
    position: absolute;
    left: 0;
    bottom: 15px;
    max-width: 100%;
    padding: 10px 12px;
}
.newsImg{
    position: relative;
    width: 100%;
    height: 100%;
}
.color-black{
    color: #000;
}
.color-grey{
    color: #676E7A;
}
.box-alignment{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 47%;
}
.imgHover{
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s; 
    opacity: 1;  
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.innerbox{
    cursor: pointer;
    font-size: 14px;
    margin: 0 1%;
    padding: 10px 0px;
    border-bottom: 2px solid #e9e9e9;
    max-width: 48%;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news9-10:nth-child(3), .news9-10:nth-child(4), .news11-12{
    border: none;
}
#suggestion2{
    background: #fafafa;
    padding: 20px 15px;
}
#suggestion2 > h3{
    margin: 0 0 10px 0;
}
#btn{
    text-align: center;
}
#btn > button{
    padding: 10px 0px;
    width: 30%;
    margin: 0;
    border: none;
    background: #ECEFF1;
    text-align: center;
    font-size: 12px;
}
#btn > button:nth-child(1){
    background: #D50000;
    color: #fff;
}
#section > button{
    border: none;
    background: #fafafa;
    font-size: 11px;
    padding: 0;
}
#section{
    width: 75%;
    margin: 10px auto 0px;
}
#section > button:nth-child(1){
    color: #D50000;
    border-bottom: 1px solid #D50000;
}
#list > ul > li{
    font-size: 15px;
    padding: 10px 0px;
    border-bottom: 1px solid #676E7A;
    color: #455A64;
}
.fa-plus, #section3 > h5{
    color: #D50000;
}
.fa-plus{
    padding: 5px;
    border: none;
}
#inner-section{
    display: flex;
    width: auto;
    margin: auto;
}
#inner-section > h1{
    margin: 0;
}
h5{
    margin: auto;
}
#section3 > h5, #inner-section{
    font-family: 'Times New Roman', Times, serif;
}
#section3{
    display: flex;
    flex-direction: column;
    border: 2px solid #d1d1d1;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
}
#email{
    text-align: center;
    margin: 12px 0px;
    padding: 10px 0px;
    border-radius: 5px;
    border: solid 1px #a5a5a5;
    background: #fff;
}
#subscribe{
    text-align: center;
    border: 1px solid #acacac;
    background: #666;
    color: #999;
    border-radius: 5px;
    padding: 10px 0px;
}
#suggestion1 > div > p:hover, #list > ul > li:hover{
    cursor: pointer;
    color: #a5a5a5;
}
#btn > button:hover{
    cursor: pointer;
    background: #D50000;
    color: #fff;
}
#section > button:hover{
    cursor: pointer;
    color: #D50000;
}

#quickLinks {
    max-width: 90%;
    color: #1f1f1f;
}
#quickLinks> hr{
    max-width: 100%;
    color: #1f1f1f;
}
#quickLinks > ul{
    font-size: 12px;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 33%);
}
#quickLinks > ul > li{
    cursor: pointer;
    padding: 3px;
}
#quickLinks > ul > li:hover{
    color: #a5a5a5;
}
#description{
    max-width: 100%;
    padding: 15px;
    font-size: 15px;
}
.titleIcons > i{
    cursor: pointer;
    padding: 8px;
    margin: 3px;
    color: #fff;
    border: none;
    border-radius: 25px;
}
.titleIcons > i:nth-child(1){
    background: #303F9F;
}
.titleIcons > i:nth-child(2){
    background: #03A9F4;
}